<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addcard</title>
</head>
<body>
<p>Welcome {{a}}</p>
<h1>Creating Cards for {{deckname}}</h1>
<form action="/{{a}}/{{deckname}}/addcard/" method="POST">
    <label>Card Face </label>
    <input type="text" name="cface" required=True/>
    <label>Card Back</label>
    <input type="text" name="cback" required= True>
    <input type="submit" value="SUBMIT">
</form>
<br>
<a href = '/login/{{a}}/'>HOME</a>
<br>
<a href ='/'>LOGOUT</a>
</body>
</html>